.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: rgb(247, 178, 5);
}

.offcanvas-top{
    height: fit-content;
}

.movie-detail {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Para asegurarse de que esté por encima de otros elementos */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con un poco de transparencia */
    border-bottom: 2px solid #000; /* Línea de separación */
}